header{
    background-color: var(--backgroundColorOne);   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 75px;
}
#logo, #navigation{
    height: 75px;
    display: flex;
    align-items: center;
}
.headerInfo{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
.listNavigation{
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.listNavigation li{
    height: 75px;
    display: flex;
    align-items: center;
}
.listNavigation a{
    text-decoration: none;
    color: var(--colorText);
}
