#search{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    border-radius: 15px;
    width: var(--sizeSearch);
    height: 50px;
    padding-left: 15px;
}
#inputSearch{
    border: none;
    width: var(--sizeSearch);
    height: 30px;
    padding: 10px;
    border-radius: 15px;
}